@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Custom class to hide scrollbars */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
@layer utilities {
  .flexCenter{
    @apply flex justify-center items-center
  }

  .generalContainer{
    @apply w-11/12 mx-auto
  }
  .formInput{
    @apply outline-0 bg-[#F3F5F7] p-2 rounded-md
  }
  .formLabel{
    @apply text-sm text-darkGray
  }
  .formError{
    @apply text-[12px] text-red-500
  }

  

}